/* Style the dropdown button */
.dropbtn {
    background-color: #2a3338;
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    font-family: system-ui, -apple-system, 
    'Segoe UI', helvetica, arial, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol';
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    display: flex;
    align-items: center;
}

/* Style the dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #2a3338;
    min-width: 160px;

    z-index: 1;
    font-family: sans-serif;

}

/* Style the links inside the dropdown */
.dropdown-content a {
    color: white;
    padding: 6px 16px;
    text-decoration: none;
    display: block;
    font-family: sans-serif;

}

/* Change color on hover */
.dropdown-content a:hover {
    background-color: rgb(61, 68, 73);
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

.submenu {
    padding-left: 20px; /* Adjust the indentation as needed */
}
