/* .box-image-text .image {
    min-height: 190px;
    max-height: 190px;
}

.box-image-text .image img {
    max-height: 190px;
    margin: auto;
}

.box-simple {
    min-height: 230px;
} */

body {
    width: true, False, 0%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2px;
    padding-top: 52px; /* Adjust based on the toolbar's height to avoid content being hidden behind it */
    
}

  /* style.css */
  #tableOfContents li.h1 {
    font-size: 18px;
    color: white;
   font-weight: bold;
  }
   
  #tableOfContents li.h2 {
    font-size: 16px;
    margin-left: 24px;
    font-weight: bold;

  }
  
  #tableOfContents li.h3 {
    font-size: 16px;
    margin-left: 32px;
  }

  .toolbar {
    margin-left: inherit;
    /* position: fixed; */
    top: 0;
    left: 0;
    
    width: 100%;
    margin: auto;
    
    background-color: inherit;
    color: white;
    padding: 10px 0;
    text-align: center;
    display: flex;
    justify-content: space-between;
    z-index: 100;
    font-family: sans-serif;
    font-size: 16px;
  }




  .tippy-box[data-theme~='tomato'] {
    background-color: tomato;
    color: yellow;
    }
