.last-updated {
  font-size: small;
  /*text-transform: uppercase;*/
  background-color: #fffdd4;
  color: black;
  display: inline-block;
  width: auto;
} 




code {
    display: inline-block;
    border: solid 2px #5882FA;
    font-family: Consolas,"courier new";
    /*font-size: 12px;*/
    padding: 2px;
    /* font-size: 105%; */
  
  }
  
  .gototop {
    font-size: 12px;
 }


  .page-container {
    margin-left: 319px;
    margin-top: 21px;
    max-width: 1200px; 
    width: 100%; /* Make the container width responsive */
    margin: auto;
    font-family: system-ui, -apple-system, 
    'Segoe UI', helvetica, arial, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol';
    font-family: sans-serif;
    padding-left: 55px;
  }
  
 .page-container img {
    max-width: 100%;
    height: auto;
}
  :root {
    --primary-color: white;
    --secondary-color: rgb(245, 250, 221);
    --highlight-color: #3282b8;
  
    --dt-status-available-color: greenyellow;
    --dt-status-away-color: lightsalmon;
    --dt-status-offline-color: lightgray;
  
    --dt-padding: 2px;
    --dt-padding-s: 6px;
    --dt-padding-xs: 2px;
  
    --dt-border-radius: 3px;
  
    --dt-background-color-container:var(--secondary-color);
    --dt-border-color: var(--secondary-color);
    --dt-bg-color: var(--highlight-color);
    --dt-text-color: var(--primary-color);
    --dt-bg-active-button: var(--highlight-color);
    --dt-text-color-button: var(--primary-color);
    --dt-text-color-active-button: var(--primary-color);
    --dt-hover-cell-color: var(--highlight-color);
    --dt-even-row-color: var(--secondary-color);
    --dt-focus-color: var(--highlight-color);
    --dt-input-background-color: var(--secondary-color);
    --dt-input-color: var(--primary-color);
  }
  
  .material-icons {
    font-size: 24px;
  }
  
  .datatable-container {
    font-family: sans-serif;
    background-color: var(--dt-background-color-container);
    border-radius: var(--dt-border-radius);
    color: var(--dt-text-color);
    max-width: 1140px;
    min-width: 950px;
    margin: 0 auto;
    font-size: 14px;
    display: inline-block;
  
  }
  
  .datatable-container .header-tools {
    border-bottom: solid 1px var(--dt-border-color);
    padding: var(--dt-padding);
    padding-left: 5px;
    display: flex;
    align-items: baseline;
  }
  
  .datatable-container .header-tools .search {
    width: 30%;
  }
  
  .datatable-container .header-tools .search .search-input {
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    /* background-color: var(--dt-input-background-color); */
    display: block;
    box-sizing: border-box;
    border-radius: var(--dt-border-radius);
    border: solid 1px var(--dt-border-color);
    color: var(--dt-input-color);
  }
  
  .datatable-container .header-tools .tools {
    width: 70%;
  }
  
  .datatable-container .header-tools .tools ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: start;
    align-items: baseline;
  }
  
  .datatable-container .header-tools .tools ul li {
    display: inline-block;
    margin: 0 var(--dt-padding-xs);
    align-items: baseline;
  }
  
  .datatable-container .footer-tools {
    padding: var(--dt-padding);
    display: flex;
    align-items: baseline;
  }
  
  .datatable-container .footer-tools .list-items {
    width: 50%;
  }
  
  .datatable-container .footer-tools .pages {
    margin-left: auto;
    margin-right: 0;
    width: 50%;
  }
  
  .datatable-container .footer-tools .pages ul {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: baseline;
    justify-content: flex-end;
  }
  
  .datatable-container .footer-tools .pages ul li {
    display: inline-block;
    margin: 0 var(--dt-padding-xs);
  }
  
  .datatable-container .footer-tools .pages ul li button,
  .datatable-container .header-tools .tools ul li button {
    color: var(--dt-text-color-button);
    width: 100%;
    box-sizing: border-box;
    border: 0;
    border-radius: var(--dt-border-radius);
    background: transparent;
    cursor: pointer;
  }
  
  .datatable-container .footer-tools .pages ul li button:hover,
  .datatable-container .header-tools .tools ul li button:hover {
    background: var(--dt-bg-active-button);
    color: var(--dt-text-color-active-button);
  }
  
  .datatable-container .footer-tools .pages ul li span.active {
    background-color: var(--dt-bg-color);
    border-radius: var(--dt-border-radius);
  }
  
  .datatable-container .footer-tools .pages ul li button,
  .datatable-container .footer-tools .pages ul li span,
  .datatable-container .header-tools .tools ul li button {
    padding: var(--dt-padding-s) var(--dt-padding);
  }
  
  .datatable-container .datatable {
    border-collapse: collapse;
    width: 100%;
  }
  
  .datatable-container .datatable,
  .datatable-container .datatable th,
  .datatable-container .datatable td {
    padding: var(--dt-padding) var(--dt-padding);
  }
  
  .datatable-container .datatable th {
    font-weight: bolder;
    text-align: left;
    border-bottom: solid 1px var(--dt-border-color);
  }
  
  .datatable-container .datatable td {
    border-bottom: solid 1px var(--dt-border-color);
  }
  
  .datatable-container .datatable tbody tr:nth-child(even) {
    background-color: var(--dt-even-row-color);
  }
  
  .datatable-container .datatable tbody tr:hover {
    background-color: var(--dt-hover-cell-color);
  }
  
  .datatable-container .datatable tbody tr .available::after,
  .datatable-container .datatable tbody tr .away::after,
  .datatable-container .datatable tbody tr .offline::after {
    display: inline-block;
    vertical-align: middle;
  }
  
  .datatable-container .datatable tbody tr .available::after {
    content: "Online";
    color: var(--dt-status-available-color);
  }
  
  .datatable-container .datatable tbody tr .away::after {
    content: "Away";
    color: var(--dt-status-away-color);
  }
  
  .datatable-container .datatable tbody tr .offline::after {
    content: "Offline";
    color: var(--dt-status-offline-color);
  }
  
  .datatable-container .datatable tbody tr .available::before,
  .datatable-container .datatable tbody tr .away::before,
  .datatable-container .datatable tbody tr .offline::before {
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 10px;
    border-radius: 50%;
    vertical-align: middle;
  }
  
  .datatable-container .datatable tbody tr .available::before {
    background-color: var(--dt-status-available-color);
  }
  
  .datatable-container .datatable tbody tr .away::before {
    background-color: var(--dt-status-away-color);
  }
  
  .datatable-container .datatable tbody tr .offline::before {
    background-color: var(--dt-status-offline-color);
  }

  /* .box-image-text .image {
    min-height: 190px;
    max-height: 190px;
}

.box-image-text .image img {
    max-height: 190px;
    margin: auto;
}

.box-simple {
    min-height: 230px;
} */

body {
  width: true, False, 0%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2px;
  padding-top: 52px; /* Adjust based on the toolbar's height to avoid content being hidden behind it */
  
}

/* style.css */
#tableOfContents li.h1 {
  font-size: 18px;
  color: white;
 font-weight: bold;
}
 
#tableOfContents li.h2 {
  font-size: 16px;
  margin-left: 24px;
  font-weight: bold;

}

#tableOfContents li.h3 {
  font-size: 16px;
  margin-left: 32px;
}
.toolbar {
  position: fixed;
  display: flex;
  justify-content: space-between;
  top: 0;
  left: auto;
  right: auto;
  width: 100%;
  background-color: #333;
  color: white;
  padding: 5px 0;
  text-align: center;
  z-index: 100;
  max-width: 1200px;
  min-width: auto;
  margin: auto;
}

/* li {
  margin-bottom: 5px;
} */

.list ul {
  margin-bottom: 5px;
}


.tippy-box[data-theme~='tomato'] {
  background-color: tomato;
  color: yellow;
  }
  
/* .table-format {
   /* width: 100%;*/
    /*border-collapse: collapse; /* Optional: to remove space between table borders }*/ 

/* Style for the first column (left aligned) */
.table-format td:first-child,
.table-format th:first-child {
    text-align: left;
}

/* Style for the second and subsequent columns (center aligned) */
.table-format td:not(:first-child),
.table-format th:not(:first-child) {
    text-align: center;
}


/* center the blockquote in the page */
.block_quote-wrapper {
  display: flex !important;
  height: 25vh !important;
  padding: 0 20px !important;
  
}

/* Blockquote main style */
.block_quote {
   position: relative !important;
   font-family: 'Barlow Condensed', sans-serif !important;
   max-width: 620px !important;
   margin: 80px auto !important;
   align-self: center !important;
}

/* Blockquote header */
.block_quote h1 {
   font-family: 'Abril Fatface', cursive !important;
   position: relative  !important; /* for pseudos */
   color: #e74848 !important;
   font-size: 2.2rem  !important;
   font-weight: normal !important;
   line-height: 1 !important;
   margin: 0 !important;
   border: 2px solid #fff !important;
   border: solid 2px !important;
   border-radius:20px !important;
   padding: 25px !important;
}

/* Blockquote right double quotes */
.block_quote h1:after {
   content:"" !important;
   position: absolute !important;
   border: 2px solid #e74848 !important;
   border-radius: 0 50px 0 0 !important;
   width: 60px !important;
   height: 60px !important;
   bottom: -60px !important;
   left: 50px !important;
   border-bottom: none !important;
   border-left: none !important;
   z-index: 3 !important; 
}

.block_quote h1:before {
   content:"" !important;
   position: absolute !important;
   width: 80px !important;
   border: 6px solid #292a2b !important;
   bottom: -3px !important;
   left: 50px !important;
   z-index: 2 !important;
}

/* increase header size after 600px */
@media all and (min-width: 600px) {
   .block_quote h1 {
       font-size: 2.2rem !important;
       line-height: 1.2 !important;
  }

}

/* Blockquote subheader */
.block_quote h4 {
   position: relative !important;
   color: #ffffff !important;
   font-size: 1.4rem !important;
   font-weight: 400 !important;
   line-height: 1.2 !important;
   margin: 0 !important;
   padding-top: 15px !important;
   z-index: 1 !important;
   margin-left:150px !important;
   padding-left:12px !important;
}


.block_quote h4:first-letter {
 margin-left:-12px !important;
}

