nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
    position: relative;
}

nav ul li a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: #ffffff;
    transition: background-color 0.3s;
}

nav ul li a:hover {
    background-color: inherit;
}

nav ul li ul {
    display: none;
    position: absolute;
    background-color: inherit;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: none; /* 1px solid #ccc; */
}

nav ul li:hover ul {
    display: block;
    /* The background of the drop down menu */
    background-color: #333;
    text-align: left;

}


nav ul li ul li {
    display: block;
    white-space: nowrap;
}

nav ul li ul li a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: #ffffff;
    transition: background-color 0.3s;
}

nav ul li ul li a:hover {
    background-color: inherit;
    text-align: left;
}
