<section class="container list">
  <header>
    <h1 class="title">
      <a class="title-link" href="{{ .Permalink | safeURL }}">
        {{- if eq .Kind "term" -}}
          {{- i18n .Data.Plural 1 | title -}}
          {{- print ": " -}}
        {{- end -}}
        {{- i18n (lower .Title) | default .Title | title -}}
      </a> 
    </h1>
  </header>
  {{ .Content }}
  <ul>
    {{ range .Paginator.Pages }}
    
    <li>
      <a class="title" href="{{ .Params.externalLink | default .RelPermalink }}">
        <img class="card-img-top" src="{{ .Params.featuredImage }} " width="200px" style="display: inline-block; margin-bottom: 20px;"></a>
      <span class="date">{{ .Date | time.Format (.Site.Params.dateFormat | default "January 2, 2006" ) }} </span>
      <a class="title" href="{{ .Params.externalLink | default .RelPermalink }}">{{ .Title }}</a>
      
    
    </li>
    {{ end }}
  </ul><br>
  {{ partial "pagination.html" . }}
</section>
